site_name: ${{ values.name }}
site_description: Documentation for ${{ values.name }}
site_author: ${{ values.owner }}

theme:
  name: material
  palette:
    primary: green
    accent: light green
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - search.suggest
    - search.highlight

nav:
  - Home: index.md
  - API Documentation: api.md

markdown_extensions:
  - admonition
  - codehilite
  - pymdownx.superfences
  - pymdownx.tabbed
  - toc:
      permalink: true

plugins:
  - search
  - techdocs-core
