site_name: '${{ values.name }}'
site_description: '${{ values.description }}'

nav:
  - Home: index.md
  - API: api.md

plugins:
  - techdocs-core

theme:
  name: material
  features:
    - navigation.top
    - toc.integrate
  palette:
    primary: 'blue'
    accent: 'light blue'